/*Цвет в CSS*/
#color_text {
    text-decoration: underline;
}

.color_text p
{
    color: #C7C6B1;
}

.color_fon
{
    background-color: #92B5B9;
    width: 350px;
    height: 350px;
    border-radius: 5px;
}

.color_border{
    width: 350px;
    height: 350px;
    border: 1px solid #020B0C;
    margin-top: 5px;
    border-radius: 5px;
}

/*Стилизация шрифтов*/
.font{
    font-family: Arial, Verdana, Helvetica;
}
.font p{
    font-family: Verdana;
}

/*Толщина шрифта*/
.font_weight_bold{
    font-weight: bold;
}
.font_weight_normal{
    font-weight: normal;
}
.italic{
    font-style: italic;
}


/*Внешние шрифты*/
@font-face {
    font-family: 'Roboto';
    src: url("http://fonts.gstatic.com/s/roboto/v15/mErvLBYg_cXG3rLvUsKT_fesZW2xOQ-xsNqO47m55DA.woff2");
}

.outside_fonts a{
    font-family: Arial;
    color: white;
    background-color: #1A5D64;
    border-radius: 3px;
    text-decoration: none;
}

@font-face{
    font-family: 'FontAwesome';
    src: url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/fonts/fontawesome-webfont.eot');
    src: url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/fonts/fontawesome-webfont.woff2') format('woff2'),
         url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/fonts/fontawesome-webfont.woff') format('woff'),
         url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/fonts/fontawesome-webfont.ttf') format('truetype'),
         url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/fonts/fontawesome-webfont.svg') format('svg');
}

/*Разные версии шрифта Roboto*/
@font-face {
    font-family: 'Roboto';
    src: url("fonts/Roboto-Italic.ttf");
    font-weight: normal;
    font-style: normal;
}
.Download_font p{
    font-family: Roboto;
}

/*Высота шрифта*/
.font_size {
    font-size: 10px;
}
.font_size > p{
    font-size: 150%;
}


/*Форматирование текста*/
    div.text_transform {
        width: 350px;
        height: 150px;
        border-radius: 5px;
        border: solid 2px;
        background-color: rgba(160, 153, 173, .3);
        margin: 5px;
        padding: 2px;
    }
    p.lowercase{
        text-transform: lowercase;
    }
    p.uppercase{
        text-transform: uppercase;
    }
    p.capotalize{
        text-transform: capitalize;
    }
div.text_decoration {
    width: 350px;
    border-radius: 5px;
    border: solid 2px;
    background-color: rgba(160, 153, 173, .3);
    margin: 5px;
    padding: 2px;
}
    p.under{
        text-decoration: underline;
    }
    p.over{
        text-decoration: overline;
    }
    p.line{
        text-decoration: underline line-through;
    }
    a.none{
        text-decoration: none;
    }

div.spacing {
    width: 350px;
    border-radius: 5px;
    border: solid 2px;
    background-color: rgba(160, 153, 173, .3);
    margin: 5px;
    padding: 2px;
    padding-bottom: 10px;
}
p.smallLetterSpace{
    letter-spacing: -1px;
}
p.bigLetterSpace{
letter-spacing: 1px;
}
p.smallWordSpace{
    word-spacing: -1px;
}
p.bigWordSpace{
    word-spacing: 1px;
}
div.text_shadow{
    width: 350px;
    border: solid 2px #1A5D64;
    border-radius: 5px;
    padding: 2px;
    margin: 5px;
}
.text_shadow h1{
    text-shadow: -5px -4px 3px #999;
    text-align: center;
}