/*Цвет в CSS*/
#color_text {
    text-decoration: underline;
}

.color_text p
{
    color: #C7C6B1;
}

.color_fon
{
    background-color: #92B5B9;
    width: 350px;
    height: 350px;
    border-radius: 5px;
}

.color_border{
    width: 350px;
    height: 350px;
    border: 1px solid #020B0C;
    margin-top: 5px;
    border-radius: 5px;
}

/*Стилизация шрифтов*/
.font{
    font-family: Arial, Verdana, Helvetica;
}
.font p{
    font-family: Verdana;
}

/*Толщина шрифта*/
.font_weight_bold{
    font-weight: bold;
}
.font_weight_normal{
    font-weight: normal;
}
.italic{
    font-style: italic;
}
