/*Цвет в CSS*/
#color_text {
    text-decoration: underline;
}

.color_text p
{
    color: #C7C6B1;
}

.color_fon
{
    background-color: #92B5B9;
    width: 350px;
    height: 350px;
    border-radius: 5px;
}

.color_border{
    width: 350px;
    height: 350px;
    border: 1px solid #020B0C;
    margin-top: 5px;
    border-radius: 5px;
}

/*Стилизация шрифтов*/
.font{
    font-family: Arial, Verdana, Helvetica;
}
.font p{
    font-family: Verdana;
}

/*Толщина шрифта*/
.font_weight_bold{
    font-weight: bold;
}
.font_weight_normal{
    font-weight: normal;
}
.italic{
    font-style: italic;
}


/*Внешние шрифты*/
@font-face {
    font-family: 'Roboto';
    src: url("http://fonts.gstatic.com/s/roboto/v15/mErvLBYg_cXG3rLvUsKT_fesZW2xOQ-xsNqO47m55DA.woff2");
}

.outside_fonts a{
    font-family: Arial;
    color: white;
    background-color: #1A5D64;
    border-radius: 3px;
}

@font-face{
    font-family: 'FontAwesome';
    src: url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/fonts/fontawesome-webfont.eot');
    src: url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/fonts/fontawesome-webfont.woff2') format('woff2'),
         url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/fonts/fontawesome-webfont.woff') format('woff'),
         url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/fonts/fontawesome-webfont.ttf') format('truetype'),
         url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/fonts/fontawesome-webfont.svg') format('svg');
}

/*Разные версии шрифта Roboto*/
@font-face {
    font-family: 'Roboto';
    src: url("fonts/Roboto-Italic.ttf");
    font-weight: normal;
    font-style: normal;
}
.Download_font p{
    font-family: Roboto;
}
